*.session-journal
*.session
.cache
script_min.js
*.json
*.png
*.txt
ntcw
mpt.py
mooproj.txt
ostuff.py
stuff.pybk
build
log.txt
roadmap
info
asy.py
test.py
tes.py
*.mp3
2021*
# Directories
__pycache__/
Temp/
tests/
temp/
.cache/
*/__pycache__/
